<div class="form-group mb-2">
    <label for="nrauto">NR AUTO</label>
    <input
        required
        value="<%= auto ? auto.nrauto : (type ? type.descriere : '') %>"
        type="text"
        name="nrauto"
        id="nrauto"
        class="form-control"
    />
</div>
